@import url("https://use.typekit.net/lcq0huq.css");



*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
body {
  font-family: "Proxima Nova";
}

.gridcontainer {
  display: grid;
  grid-template-areas:
    'nav'
    'header'
    'body'
    'footer';
}





/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #EC8525;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #053641;
}
.icons-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #053641;
}
.handlekurv-header {
  margin-right: 10px;
  display: flex;
}
.handlekurv-bigscreen {
  display: none;
}
.rainydaysheader {
  width: 75px;
}
.NAV-header-bigscreen {
  display: none;
  justify-content: space-between;
  align-items: left;
}
.dropdown {
  position: relative;
  /* display: inline-block; */
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EC8525;
  min-width: 16px;
  padding: 12px 16px;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 30; 
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* HEADER */








/* FORSIDE */
.forsidebilde {
  align-items: center;
  width: 100%;
}
.forside-slogan {
  display: flex;
  align-items: center;
  margin: auto;
  width: 75%;
}
.forside-kategori {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 24px 0px 24px;
  width: 100%;
  position: relative;
}
.forside-kategori img {
  width: 100%;
  margin-bottom: 24px;
}
.forside-bilde {
  position: relative;
  height: 140px;
  overflow: hidden;
  margin-bottom: 16px;
}
.forside-bilde img {
  width: 100%;
}
.forside-big {
  padding: 0px 24px 24px 24px ;
}
.forside-dame {
  object-fit: fill;
  object-position: 100% 50%;
}
.sesongens-nyheter {
  position: absolute;
  display: grid;
  place-items: center;
  top: 30px;
  left: 20%;
  right: 20%;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.clickme-forside {
  position: absolute;
  top: 60px;
  bottom: 35px;
  left: 35%;
  right: 35%;
  top: 35px;
  background-color: rgba(255, 255, 255, 0.559);
  color: rgba(0, 0, 0, 0.545);
  display: grid;
  place-items: center;
}
.clickme-forside-sesong {
  position: absolute;
  bottom: 45px;
  left: 35%;
  right: 35%;
  top: 65px;
  background-color: rgba(255, 255, 255, 0.559);
  color: rgba(0, 0, 0, 0.545);
  display: grid;
  place-items: center;
}
/* FORSIDE */







/* PRODUKTOVERSIKT */
.product-container {
  align-content: center;
  margin: auto;
  width: 90%;
  padding: 20px;
  justify-content: space-between;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-bottom: 20px;
} 
.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 20px;
}
.card-img-container{
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: #E4E4E4;
  padding: 8px;
  align-content: center;
  border-radius: 5%;
}
.card-img {
  display: flex;
  align-content: center;
  width: 100%;
  object-fit: contain;
}
.produktnavn-oversikt {
  margin-top: 10px;
}
/* PRODUKTOVERSIKT */









/* PRODUKTINFO */
.card-produktinfo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 20px;
}
.card-img-container-produktinfo {
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: #E4E4E4;
  padding: 8px;
  align-content: center;
  max-width: 250px;
  border-radius: 5%;
  margin: auto;
  margin-top: 20px;
}
.card-img-produktinfo {
  display: flex;
  align-content: center;
  width: 100%;
  object-fit: contain;
}
.produktnavn-produktinfo {
  margin-top: 10px;
  display: grid;
  place-items: center;
  margin: 20px;
}
.størrelser {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.legg-til {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  border: 2px solid black;
  max-width: 300px;
  padding: 8px;
}
.shopping-bag {
  border-left: 1px solid black;
  margin-left: 10px;
}
.shopping-bag > i {
  margin-left: 8px;
}
.produktinfo {
  padding: 40px;
  max-width: 400px;
  margin: auto;
}
/* PRODUKTINFO */









/* KASSE */
.card-img-container-kasse {
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #E4E4E4;
  align-content: center;
  max-width: 80px;
  border-radius: 10%;
  margin: auto;
}
.card-img-kasse {
  display: flex;
  align-content: center;
  width: 80%;
  object-fit: contain;
}
.produktnavn-kasse {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px;
}
.produkter-i-handlekurv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.bilde-med-tekst {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 250px;
  margin-left: 20px;
  margin-top: 20px;
}
.mail-kasse {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: #E4E4E4;
  border-radius: 4px;
  height: 30px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
.info-icon {
  color: #EC8525;
  padding-right: 3px;
  padding-left: 8px;
}
.kundeinfo-kasse {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #E4E4E4;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  }
.kundeinfo {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}
.kundeinfo > i {
  margin-right: 8px;
}
.betaling-kasse {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #E4E4E4;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
.betaling-text {
  padding: 8px;
}
.send-bestilling {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #EC8525;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
.send-bestilling-tekst {
  padding: 12px;
}
/* KASSE */








/* KJØP FULLFØRT */
.kjøp-fullført {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.tilbake-til-forside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E4E4E4;
  max-width: 200px;
  margin: auto;
}
.tilbake-tekst {
  padding: 8px;
}
.footer-bilde {
  color: white;
  background-color: #2a545d;
  position: fixed;
  bottom: 0;
  width: 160%;
}
/* KJØP FULLFØRT */









/* KONTAKT */
.kundeservice {
  margin: 30px 60px 0px 60px;
}
 .background-kontakt {
  color: white;
  background-color: #2a545d;
  position: fixed;
  bottom: 0;
  height: 220px;
}
.hovedkontor {
  margin-left: 40px;
  position: absolute;
  top: 70px;
  left: 50px;
}
/* KONTAKT */











/* OM OSS */ 
.background-omoss {
  position: relative;
  text-align: left;
}
.img-container {
  position: relative;
  align-content: center;
  margin-left: 25%;
}
.omoss {
  margin-top: 0px;
  margin-left: 40px;
  position: absolute;
  color: white;
  top: 20px;
  left: 30px;
}
h3 {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}
.text-omoss {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.img1 {
  position: relative;
  margin-left: 20px;
  margin-right: 8px;
  width: 100px;
  height: auto;
  top: 0;
  left: 0;
}
.img2 {
  width: 80px;
  height: auto;
  margin-bottom: 15px;
}
.img3 {
  position: relative;
  margin-top: 8px;
  margin-right: 11px;
  top: 0;
  left: 0;
  width: 60px;
  height: auto;
}
.img4 {
  width: 100px;
  height: auto;
  margin: 11px;
}
/* OM OSS */ 









/* FOOTER */
.line {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: black
}
footer {
  width: 100%;
  height: 1px;
  bottom: 1px;
}
.rainydaysfooter {
  width: 60%;
  place-items: center;
}
.dytt > div {
  width: 50%;
  height: 100%;
}
.logo {
  height: 10px;
  width: 10px;
  margin-left: 40px;
  margin-right: 5px;
}
.mindrebilde {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #053641
}
.mindrebilde > img {
  width: 16px;
  margin-right: 10px;
}
.textstyle {
  display: flex;
  font-size: 10px;
  align-items: center;
}
.dytt {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.some-footer {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
}
.some-footer > * {
  padding: 10px;
}
.kategori-footer {
  width: 100%;
}
.float {
  padding: 30px;
  margin: 10px;
}
.floated-right {
  float: right;
}
.rainydays-info-footer,
  .kundeservice-footer {
    display: none;
  }
/* FOOTER */










/* media queries */
@media(min-width: 768px) {

  /* HEADER */
  header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  } 
  .meny-dropdown {
    display: none;
  }
  .NAV-header-bigscreen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%; 
  }
  .handlekurv-bigscreen {
    display: block;
    margin-right: 10px;
  }
  .logo-header {
    margin-right: 25px;
  }
  .dropdown-none {
    display: none;
  }
  /* HEADER */







/* FORSIDE */
.forsidebilde {
  align-items: center;
  width: 100%;
}
.forside-slogan {
  display: none;
}
.forside-kategori {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 30px 0 30px;
  width: 100%;
  position: relative;
}

.forside-kategori-sesong{
  width: 100%;
}

.forside-kategori img {
  width: 100%;
  margin-bottom: 24px;
}
.forside-bilde {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-bottom: 16px;
  width: 49%;
}
.forside-big {
  display: flex;
  justify-content: space-between;
}
.forside-dame {
  object-fit: fill;
  object-position: 100% 50%;
}
.sesongens-nyheter {
  position: absolute;
  display: grid;
  place-items: center;
  top: 80px;
  left: 20%;
  right: 20%;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.clickme-forside {
  position: absolute;
  top: 110px;
  bottom: 35px;
  left: 35%;
  right: 35%;
  background-color: rgba(255, 255, 255, 0.559);
  color: rgba(0, 0, 0, 0.545);
  display: grid;
  place-items: center;
}
.clickme-forside-sesong {
  position: absolute;
  top: 140px;
  background-color: rgba(255, 255, 255, 0.559);
  color: rgba(0, 0, 0, 0.545);
  display: grid;
  place-items: center;
}
/* FORSIDE */









  /* PRODUKTOVERSIKT */
  .product-container {
    align-content: center;
    padding: 20px;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    display: grid;
    grid-gap: 12px;
    margin-bottom: 20px;
  }
  /* PRODUKTOVERSIKT */








  /* PRODUKTINFO */
.card-img-container-produktinfo {
  display: flex;
  justify-content: center;
  height: 300px;
  background-color: #E4E4E4;
  padding: 8px;
  align-content: center;
  max-width: 400px;
  border-radius: 5%;
  margin: auto;
  margin-top: 20px;
}
.legg-til {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  border: 2px solid black;
  max-width: 300px;
  padding: 8px;
}
.produktinfo {
  padding: 40px;
  max-width: 520px;
  margin: auto;
}
/* PRODUKTINFO */










  /* KASSE */
.kasse-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
}
.produkter-i-handlekurv {
  width: 50%;
}
.card-img-container-kasse {
  display: flex;
  height: 180px;
  background-color: #E4E4E4;
  max-width: 160px;
  border-radius: 10%;
  margin: auto;
}
.bilde-med-tekst {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 400px;
  margin-left: 50px;
}
.info-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
}
/* KASSE */








/* KJØP FULLFØRT */
.footer-bilde {
  color: white;
  background-color: #2a545d;
  position: fixed;
  bottom: 0;
  width: 100%
}
/* KJØP FULLFØRT */









  /* KONTAKT */
  .background-kontakt {
    color: white;
    position: fixed;
    bottom: 0;
    height: 440px;
   }
  .hovedkontor {
    margin-left: 40px;
    position: absolute;
    top: 200px;
    left: 100px;
  }
  .kundeservice {
    margin: 30px 100px 0px 100px;
  }
  /* KONTAKT */












  /* OM OSS */ 
.background-omoss {
  position: relative;
  text-align: left;
}
.img-container {
  max-width: 800px;
  position: relative;
  align-content: center;
  margin-left: 30%;
}
.omoss {
  margin-top: 0px;
  margin-left: 40px;
  position: absolute;
  color: white;
  top: 80px;
  left: 60px;
}
h3 {
  max-width: 600px;
  display: flex;
  margin: auto;
}
.text-omoss {
  max-width: 600px;
  display: flex;
  margin: auto;
}
.img1 {
  position: relative;
  margin-left: 20px;
  margin-right: 8px;
  width: 300px;
  height: auto;
  top: 0;
  left: 0;
}
.img2 {
  width: 270px;
  height: auto;
  margin-bottom: 15px;
}
.img3 {
  position: relative;
  margin-top: 8px;
  margin-right: 11px;
  top: 0;
  left: 0;
  width: 210px;
  height: auto;
}
.img4 {
  width: 300px;
  height: auto;
  margin: 11px;
  transform: translateY(-10px);
}
/* OM OSS */ 









  /* FOOTER */
  .rainydays-info-footer,
  .kundeservice-footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .rainydays-info-footer > * {
    padding: 1rem;
  }
  .kundeservice-footer > * {
    padding: 1rem;
  }
  .some-footer > * {
    padding: 1rem;
  }
  .dytt > div {
    width: 25%;
    height: 100%;
  }
/* FOOTER */

@media(min-width: 1300px) {
  .product-container{
    align-content: center;
    padding: 20px;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    display: grid;
    grid-gap: 12px;
    margin-bottom: 20px;
  } 
}
}